---
import { OptInForm } from '../components/opt-in-form';
import Layout from './Layout.astro';

const { frontmatter, headings } = Astro.props;
---

<Layout title={frontmatter.meta.title} mainClass="post-container">
	<article class="post">
		<header>
			<h1>{frontmatter.meta.title}</h1>
			<p>{frontmatter.meta.description}</p>
		</header>
		<aside class="table-of-contents" data-section="table-of-contents">
			<div class="toc-sticky-container">
				<h2
					class="gradient-subheading gradient-underline"
					id="table-of-contents"
				>
					Table of Contents
				</h2>
				<ol>
					{
						headings.map(
							(heading: { depth: number; slug: string; text: string }) => {
								if (heading.depth > 2) {
									return null;
								}

								return (
									<li>
										<a href={`#${heading.slug}`}>{heading.text}</a>
									</li>
								);
							}
						)
					}
				</ol>
			</div>
		</aside>

		<div class="post-content" data-section="post-content"><slot /></div>

		{frontmatter.showOptin !== false ? <OptInForm /> : null}
	</article>
</Layout>

<script>
	function setActiveHeading() {
		const headingElements = document.querySelectorAll(
			'[data-section=post-content] h2'
		);

		const observerCallback: IntersectionObserverCallback = ([entry]) => {
			const activeHeading = entry.target;
			const links = Array.from(
				document.querySelectorAll('[data-section=table-of-contents] a')
			);

			links.forEach((link) => {
				const [, href] = link.getAttribute('href')?.split('#') ?? '';

				if (entry.isIntersecting && href === activeHeading.id) {
					links.forEach((l) => l.classList.remove('active'));
					link.classList.add('active');
				}
			});
		};

		const observer = new IntersectionObserver(observerCallback, {
			threshold: [0.9],
		});

		Array.from(headingElements)
			.filter((h2) => h2.id !== 'table-of-contents')
			.map((h2) => {
				observer.observe(h2);

				return {
					label: h2.textContent,
					href: `#${h2.id}`,
				};
			});

		return () => {
			Array.from(headingElements).map((h2) => {
				observer.unobserve(h2);
			});
		};
	}

	setActiveHeading();
</script>

<style>
	:global(.post-container) {
		max-width: 51rem;
		margin: 3rem auto;
	}

	.post {
		padding: 0 5vw;
	}

	.post header,
	.post .post-content {
		grid-column-start: 2;
	}

	.post header p {
		font-size: 1.25rem;
		line-height: 1.75rem;
	}

	.post-content {
		margin-inline: 0;
		max-width: 100%;
		width: 100%;
	}

	.post .table-of-contents {
		display: none;
		grid-column-start: 1;
		grid-row-start: 2;
	}

	@media (min-width: 1000px) {
		.post {
			display: grid;
			gap: 4rem;
			grid-template-columns: 12rem 1fr;
			padding: 0;
		}

		.post-content {
			align-self: start;
			max-width: 53ch;
		}

		.post .table-of-contents {
			display: block;
		}
	}

	.table-of-contents .toc-sticky-container {
		position: sticky;
		top: 3rem;
	}

	.table-of-contents h2 {
		font-weight: 400;
		margin: 0 -0.25rem;
		padding: 0 0.25rem;
		text-align: left;
	}

	.table-of-contents ol {
		list-style: none;
		padding: 0;
		margin: 0.5rem 0 0;
		font-size: 0.75rem;
	}

	.table-of-contents li {
		margin: 0;
	}

	.table-of-contents a {
		border-left: 2px solid transparent;
		color: var(--color-gray-text-muted);
		display: block;
		line-height: 1rem;
		margin: 0 -0.25rem;
		padding: 0.5rem 0.25rem;
		text-decoration: none;
	}

	.table-of-contents a.active {
		background: var(--color-pink-faded);
		border-color: var(--color-pink-text);
	}
</style>
<style is:global>
	.post-content h2 {
		font-size: 1.5rem;
		scroll-padding-top: 2rem;
		text-align: left;
	}

	.post-content a {
		color: var(--color-pink-dark);
		font-weight: inherit;
	}

	.post-content strong {
		color: var(--color-text-emphasized);
		font-weight: 600;
	}

	.post-figure {
		margin: 2rem max(-5vw, -2rem);
	}

	.post-content pre {
		color: var(--color-white);
		background: var(--color-black);
		font-size: 0.8rem;
		margin: 2rem -5vw;
		padding: 1.5rem calc(5vw + 0.25rem);
	}

	@media (min-width: 1000px) {
		.post-content pre {
			border-radius: 0.125rem;
			margin-inline: -1rem;
			padding: 1.25rem;
		}
	}

	code {
		font-family: 'Operator Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono',
			monospace;
	}

	.post-figure > * {
		display: block;
	}

	.embed-container {
		height: 0;
		position: relative;
		width: 100%;
	}

	.embed-container > * {
		height: 100%;
		left: 0;
		object-fit: cover;
		position: absolute;
		top: 0;
		width: 100%;
	}

	.post-figure img {
		width: 100%;
	}

	.post-figure figcaption {
		color: var(--color-gray-text-muted);
		font-size: 0.875rem;
		font-style: italic;
		margin-top: 0.5rem;
		padding: 0 min(5vw, 2rem);
	}

	.post-content :not(pre) > code {
		background: var(--color-gray-lightest);
		border: 1px solid var(--color-gray-lighter);
		border-radius: 0.125rem;
		line-height: 1;
		overflow-x: scroll;
		padding: 0.1rem 0.25rem;
		word-wrap: break-word;
	}

	.post-content .post-aside :not(pre) code {
		font-size: 0.875rem;
	}
</style>
