---
import { getCollection } from 'astro:content';
import Layout from '../components/layout.astro';
import ServicePanel from '../components/service-panel.astro';

const services = await getCollection('services');
const partners = [
	{ name: 'github', width: 52, height: 35 },
	{ name: 'slack', width: 80, height: 35 },
	{ name: 'sentry', width: 97, height: 35 },
	{ name: 'netlify', width: 88, height: 35 },
	{ name: 'wix', width: 38, height: 35 },
	{ name: 'workos', width: 110, height: 35 },
	{ name: 'devcycle', width: 100, height: 35 },
	{ name: 'clerk', width: 67, height: 35 },
	{ name: 'convex', width: 81, height: 35 },
	{ name: 'mongodb', width: 82, height: 35 },
];
---

<Layout title="Dev-Focused Media Production — Partner with Learn With Jason">
	<section class="hero">
		<h1><span>Tell a story worth watching</span></h1>

		<div class="intro">
			<p>
				CodeTV teams up with developer-focused companies to make videos
				developers actually want to watch.
			</p>
			<a class="button" href="#start"><span>Let’s Talk Ideas</span></a>
			<p>
				We’ve worked with some of the biggest companies in the devtools space,
				including:
			</p>
			<div class="partners">
				<ul>
					{
						partners.map((partner) => (
							<li>
								<img
									src={`https://res.cloudinary.com/jlengstorf/image/upload/q_auto,f_auto/lwj/partners/partner-${partner.name}.png`}
									alt={partner.name}
									height={partner.height}
									width={partner.width}
								/>
							</li>
						))
					}
				</ul>
			</div>
			<p>
				<a class="scroll-nudge" href="#dev-tv">
					scroll to see examples
					<span>&darr;</span>
				</a>
			</p>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/@mux/mux-player"></script>
		<mux-player
			stream-type="on-demand"
			playback-id="bYUbVdQsLvn88yRjwVnjCel29AVzFlvbUVS00PnrW9F8"
			loop
			muted
			autoplay></mux-player>
	</section>

	{services.map((service) => <ServicePanel service={service} />)}

	<section id="start" class="contact">
		<h2>Let’s change how companies talk to developers. Together.</h2>
		<p>
			Your next amazing project begins with discussing your goals and ideas. The
			easiest way to get started is to book a call.
		</p>
		<p>
			<a class="button" href="https://calendly.com/codetv/new-project">
				<span>Book a Call</span>
			</a>
		</p>

		<p>
			Or, if you prefer, send us an email at <a href="mailto:info@codetv.dev"
				>info@codetv.dev</a
			>.
		</p>
	</section>

	<style>
		@media (min-width: 600px) {
			html {
				background: var(--black-desaturated);
				scroll-behavior: smooth;
			}

			section {
				height: max(100dvh, 650px);
				margin-inline: auto;
				max-height: 1100px;
				padding: 3rem min(2rem, 5vw);
			}
		}

		.hero {
			inline-size: 100dvi;
			padding-block: 3rem;
			text-align: center;

			&::after {
				content: '';
				background: var(--vignette-gradient),
					linear-gradient(7deg, var(--purple), var(--yellow), var(--blue));
				mix-blend-mode: multiply, normal;
				position: absolute;
				inset: 0;
				z-index: 1;
			}

			mux-player {
				--controls: none;
				--media-object-fit: cover;

				display: none;
				position: absolute;
				inset: 0;
				z-index: 0;
			}

			mux-player::part(gesture-layer) {
				display: none;
			}

			@media (min-width: 1000px) {
				mux-player {
					display: block;
				}

				&::after {
					background: linear-gradient(
						107deg in oklch,
						black 0%,
						var(--black) 20%,
						color-mix(in oklch, var(--black) 20%, transparent) 70%
					);
					background-position-x: 0;
					background-position-y: center;
					background-repeat: repeat-x;
					background-size: cover;
					mix-blend-mode: multiply;
				}

				container: section / size;
				display: grid;
				height: max(100dvh, 750px);
				padding-block: 0;
				place-content: center start;
			}

			& h1 {
				color: var(--white);
				font-family:
					jwf,
					system-ui,
					-apple-system,
					BlinkMacSystemFont,
					'Segoe UI',
					Roboto,
					Oxygen,
					Ubuntu,
					Cantarell,
					'Open Sans',
					'Helvetica Neue',
					sans-serif;
				font-size: clamp(1.75rem, 4.5cqi, 8rem);
				font-weight: 900;
				letter-spacing: -0.05em;
				line-height: 1;
				margin: 0 auto;
				padding: 1rem 2cqi;
				position: relative;
				text-shadow: 0 0.25rem 0.5rem var(--black);
				text-transform: uppercase;
				z-index: 10;

				@media (min-width: 1000px) {
					max-inline-size: 48cqi;
					padding-inline: 0;
				}
			}
		}

		.intro {
			display: grid;
			height: auto;
			place-content: center;
			position: relative;
			z-index: 10;

			& p {
				color: var(--text);
				font-size: clamp(1rem, 1.5cqi, 1.5rem);
				margin: 0 auto;
				inline-size: min(90cqi, 45ch);

				&:not(:first-of-type) {
					font-size: 1rem;
					width: min(90cqi, 65ch);
					margin-block-start: 1rem;
				}
			}

			& .scroll-nudge {
				color: inherit;
				font-size: 0.75rem;
				text-align: center;
				text-decoration: none;

				& span {
					display: block;
					font-size: 1rem;
				}
			}
		}

		.partners {
			margin: 0 auto;

			& ul {
				display: flex;
				flex-wrap: wrap;
				gap: 0.25rem 1rem;
				justify-content: center;
				list-style: none;
				margin: 0;
				max-width: 55ch;
				padding: 0.75rem min(2rem, 5vw) 1.5rem;
			}

			& img {
				height: 30px;
				width: auto;

				@media (min-width: 500px) {
					height: 35px;
				}
			}
		}

		.contact {
			background: var(--black-desaturated);
			display: grid;
			min-height: 100dvh;
			padding: 3rem;
			place-content: center;
			text-align: center;

			@media (prefers-reduced-motion: no-preference) {
				& :is(h2, p, iframe) {
					animation: ease-out reveal both;
					animation-timeline: view();
					animation-range: entry 50% contain 40%;
				}
			}

			& h2 {
				color: var(--white);
				font-family:
					jwf,
					system-ui,
					-apple-system,
					BlinkMacSystemFont,
					'Segoe UI',
					Roboto,
					Oxygen,
					Ubuntu,
					Cantarell,
					'Open Sans',
					'Helvetica Neue',
					sans-serif;
				font-size: clamp(1.5rem, 4vw, 3rem);
				font-weight: 900;
				line-height: 1.1;
				margin: 0;
				text-wrap: balance;
			}

			& p {
				color: var(--text);
				margin: 1rem auto;
				width: min(90vw, 45ch);

				& a:not(.button) {
					color: inherit;

					&:is(:focus, :hover) {
						color: var(--white);
					}
				}
			}

			& .button {
				display: inline-block;
				margin: 0;
				width: auto;
			}
		}
	</style>
</Layout>
