---
import type { Episode } from '@lwj/types';
import { loadAllEpisodes, loadSchedule } from '@lwj/sanity-helpers';
import Layout from '../layouts/Layout.astro';
import { EpisodePreview } from '../components/episode-preview';
import dayjs from 'dayjs';
import timezone from 'dayjs/plugin/timezone';
import { OptInForm } from '../components/opt-in-form';

dayjs.extend(timezone);

export async function getStaticPaths() {
	const [_episodes, schedule] = await Promise.all([
		loadAllEpisodes(),
		loadSchedule(),
	]);

	const paths: {
		params: {
			episodeSlug: string;
		};
		props: {
			episode: Episode;
			scheduled?: boolean;
		};
	}[] = [];

	// TODO add markup for past episode display
	// episodes.data?.result.forEach((episode) => {
	// 	paths.push({
	// 		params: {
	// 			episodeSlug: episode.slug,
	// 		},
	// 		props: {
	// 			episode,
	// 		},
	// 	});
	// });

	schedule.data?.result.forEach((episode) => {
		paths.push({
			params: {
				episodeSlug: episode.slug,
			},
			props: {
				episode,
				scheduled: true,
			},
		});
	});

	return paths;
}

const { episode } = Astro.props;

const tz = 'America/Los_Angeles';
const duration = episode.guest.name === 'Jason Lengstorf' ? 180 : 90;
const datetime = dayjs(episode.date).tz(tz);
---

<Layout title={episode.title}>
	<div class="content">
		<p>
			<a href="/schedule">&larr; back to the schedule</a>
		</p>
		<section class="episode-container">
			<EpisodePreview episode={episode}>
				<a href={`https://twitter.com/${episode.guest.twitter}`}>
					<svg
						class="link-icon"
						viewBox="0 0 50 41"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							fill="#c10b84"
							d="M15.724 40.628c18.868 0 29.188-15.632 29.188-29.188 0-.444 0-.886-.03-1.326A20.872 20.872 0 0050 4.804a20.475 20.475 0 01-5.892 1.614 10.294 10.294 0 004.51-5.674 20.558 20.558 0 01-6.514 2.49 10.268 10.268 0 00-17.482 9.356A29.124 29.124 0 013.48 1.872a10.266 10.266 0 003.176 13.694A10.183 10.183 0 012 14.282v.13a10.262 10.262 0 008.23 10.056c-1.51.412-3.095.472-4.632.176a10.27 10.27 0 009.584 7.124A20.583 20.583 0 010 36.02a29.042 29.042 0 0015.724 4.6"
						></path>
					</svg>
					@{episode.guest.twitter}
				</a>

				<!-- Button code -->
				<div title="Add to Calendar" class="addeventatc" data-styling="none">
					Add to Calendar
					<span class="start">{datetime.format('YYYY-MM-DD HH:mm')}</span>
					<span class="end"
						>{datetime.add(duration, 'm').format('YYYY-MM-DD HH:mm')}</span
					>
					<span class="timezone">{tz}</span>
					<span class="title">{episode.title}</span>
					<span class="description">{episode.description}</span>
					<span class="location">https://twitch.tv/jlengstorf</span>
				</div>
			</EpisodePreview>
		</section>

		<OptInForm
			disclaimer="This newsletter is free, your information will never be sold or shared, and you can unsubscribe any time."
		>
			<h2>Never miss an episode!</h2>
			<p>
				Get upcoming episodes, new tutorials, career growth advice, and more
				delivered to your inbox each week. Maybe some jokes, too.
			</p>
		</OptInForm>
	</div>
</Layout>

<style>
	.content {
		margin: 3rem auto 6rem;
		max-width: min(640px, 90vw);
		width: 100%;
	}

	.episode-container {
		display: grid;
		justify-content: center;
		margin-block: 5rem;
	}

	.link-icon {
		width: 16px;
	}
</style>
