---
import { type CollectionEntry } from 'astro:content';

interface Props {
	service: CollectionEntry<'services'>;
}

const { service } = Astro.props;
const { Content } = await service.render();
---

<section
	class:list={['panel', service.slug]}
	style={{
		'--image': `url('https://res.cloudinary.com/jlengstorf/image/upload/q_auto,f_auto,w_1280/lwj/partners/panel-${service.slug}.jpg')`,
		'--part1-size': service.data.heading.part1.size,
		'--part2-size': service.data.heading.part2.size,
	}}
>
	<div class="panel-info">
		<h2>
			<span>{service.data.heading.part1.text}</span>
			{service.data.heading.part2.text}
		</h2>

		<div class="content">
			<Content />
		</div>

		{
			service.data.examples?.highlighted ? (
				<>
					<>
						<dialog id={service.slug}>
							<iframe
								width="560"
								height="315"
								src={`https://www.youtube.com/embed/${service.data.examples.highlighted}`}
								title="YouTube video player"
								frameborder="0"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
								allowfullscreen
							/>

							<div class="modal-controls">
								<form method="dialog">
									<button class="close-dialog" autofocus>
										<span>&times;</span> close
									</button>
								</form>

								{service.data.examples?.playlist ? (
									<p>
										<a href={service.data.examples.playlist}>
											more examples on YouTube &rarr;
										</a>
									</p>
								) : null}
							</div>
						</dialog>
					</>

					<button class="example-button hide button" data-dialog={service.slug}>
						<span>Watch an example</span>
					</button>
				</>
			) : null
		}
		<noscript>
			{
				service.data.examples?.playlist ? (
					<p>
						<a href={service.data.examples.playlist}>
							Watch examples on YouTube
						</a>
					</p>
				) : null
			}
		</noscript>

		<p>
			<a href="#start">{service.data.buttonText} &rarr;</a>
		</p>
	</div>
</section>

<script>
	const btns = document.querySelectorAll(
		'.example-button'
	) as NodeListOf<HTMLButtonElement>;

	btns.forEach((btn) => {
		btn.classList.remove('hide');
		btn.addEventListener('click', () => {
			if (!btn.dataset.dialog) {
				return;
			}

			const dialog = document.getElementById(
				btn.dataset.dialog
			) as HTMLDialogElement;

			dialog?.showModal();
		});
	});

	const iframes = document.querySelectorAll('iframe');
	const videos = document.querySelectorAll('video');
	const closeBtns = document.querySelectorAll('.close-dialog');

	closeBtns.forEach((btn) => {
		btn.addEventListener('click', () => {
			iframes.forEach((iframe) => {
				const iframeSrc = iframe.src;
				iframe.src = iframeSrc;
			});

			videos.forEach((video) => {
				video.pause();
			});
		});
	});
</script>

<style>
	.panel {
		--image-vignette: radial-gradient(
			ellipse in oklch,
			color-mix(in oklch, var(--black-desaturated) 10%, transparent) 50%,
			var(--black-desaturated) 90%
		);
		--image: url('https://images.unsplash.com/photo-1587893143314-972249555d65?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8ZnJlbmNoJTIwYnVsbGRvZ3xlbnwwfHwwfHx8MA%3D%3D');
		--part1-size: 3rem;
		--part2-size: 4rem;

		scroll-timeline: --panel y;
		background: var(--vignette-gradient), var(--purple);
		display: grid;
		margin-inline: auto;
		max-height: 1100px;
		max-width: 1600px;
		min-height: 700px;
		padding: 0;
		place-content: center;

		@media (min-width: 600px) {
			background: linear-gradient(
					to right in oklch,
					color-mix(in oklch, var(--black) 20%, transparent) 350px,
					color-mix(in oklch, var(--black) 20%, transparent) 350px
				),
				var(--image-vignette), var(--image);
			background-blend-mode: normal, mulitply, normal;
			background-position-x: center, center, center 225px;
			background-position-y: center;
			background-repeat: no-repeat;
			background-size: cover;
			container: section / size;
			grid-template:
				'info portfolio portfolio'
				'info portfolio portfolio'
				/ min(100vw, 450px) 1fr;
			height: 100dvh;
			scroll-snap-align: start;
		}

		& .panel-info {
			color: var(--text);
			display: grid;
			grid-area: info;
			padding: 3rem 2rem;
			place-content: center;
			text-align: center;

			@media (min-width: 600px) {
				backdrop-filter: blur(6px);
				background: color-mix(
					in oklch,
					var(--black-desaturated) 80%,
					transparent
				);
				height: max(100dvh, 700px);
				max-height: 1100px;
				text-align: left;
			}
		}

		@media (prefers-reduced-motion: no-preference) {
			& :is(h2, .content, button, p) {
				animation: ease-out reveal both;
				animation-timeline: view();
				animation-range: entry 25% contain 20%;
			}
		}

		& h2 {
			color: var(--white);
			font-family: jwf, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
				Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
				sans-serif;
			font-size: var(--part2-size);
			font-weight: 900;
			letter-spacing: -0.025em;
			line-height: 0.9;
			margin-block: 0;
			text-transform: uppercase;

			& span {
				display: block;
				font-size: var(--part1-size);
			}

			@media (max-width: 330px) {
				font-size: calc(0.75 * var(--part2-size));

				& span {
					font-size: calc(0.75 * var(--part1-size));
				}
			}

			@media (min-width: 600px) {
				font-size: var(--part2-size);

				& span {
					font-size: var(--part1-size);
				}
			}
		}

		&.live-events h2 {
			line-height: 0.8;
		}

		&.educational-video {
			background-position-x: right;
		}

		& p {
			margin-block: 0.75rem;

			&:has(a:only-child) {
				margin-top: 2rem;
				text-align: center;
			}

			& a:not(.button) {
				color: var(--white);
			}
		}

		& .button {
			display: inline-block;
			font-size: clamp(1rem, 9cqw, 1.25rem);
			margin: 0 auto;

			&.hide {
				display: none;
			}
		}
	}

	@keyframes slide-in {
		to {
			opacity: 1;
			translate: 0;
		}
	}

	dialog {
		aspect-ratio: 16 / 10;
		background: oklch(16.29% 0.015 262.48 / 1);
		opacity: 0;
		padding: 3rem 0 0;
		translate: 20% 0;
		width: min(90vw, 1000px);

		&[open] {
			animation: 0.5s slide-in ease-out forwards;
			animation-delay: 0.2s;
		}

		& iframe {
			display: block;
			height: 100%;
			margin: 0;
			width: 100%;
		}

		& .modal-controls {
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
			align-items: baseline;
			display: flex;
			height: 3rem;
			justify-content: space-between;
			line-height: 1;
			padding: 1rem;

			& p {
				animation: none;
				color: white;
				font-size: 0.875rem;
				line-height: 1;
				margin: 0;

				& a {
					text-decoration: none;
				}
			}

			& button {
				background: none;
				border: none;
				color: white;
				font-size: 0.875rem;
				line-height: 1;

				& span {
					font-size: 1rem;
					position: relative;
					top: 0.12em;
				}
			}
		}

		&::backdrop {
			background: oklch(16.29% 0.015 262.48 / 0.9);
		}
	}
</style>
