---
import { type CollectionEntry } from 'astro:content';
import YouTube from './youtube.astro';

interface Props {
	service: CollectionEntry<'services'>;
}

const { service } = Astro.props;
const { Content } = await service.render();
---

<section
	class:list={['panel', service.slug]}
	style={{
		'--image': `url('https://res.cloudinary.com/jlengstorf/image/upload/q_40,f_auto,w_2000/lwj/partners/panel-${service.slug}.jpg')`,
		'--part1-size': service.data.heading.part1.size,
		'--part2-size': service.data.heading.part2.size,
	}}
>
	<div class="panel-info">
		<h2>
			<span>{service.data.heading.part1.text}</span>
			{service.data.heading.part2.text}
		</h2>

		<p>{service.data.lede}</p>

		<p>
			<a href="#start" class="button"><span>{service.data.buttonText}</span></a>
		</p>
	</div>

	<div class="main-content">
		{
			service.data.examples?.highlighted ? (
				<>
					<h3>Watch an example video</h3>
					<YouTube
						videoid={service.data.examples?.highlighted}
						playLabel="4 web devs build the same app idea"
					/>
				</>
			) : null
		}

		{
			service.data.examples?.playlist ? (
				<p>
					<a href={service.data.examples.playlist}>
						more examples on YouTube &rarr;
					</a>
				</p>
			) : null
		}

		<Content />
	</div>
</section>

<style>
	@property --alpha {
		inherits: false;
		initial-value: 20%;
		syntax: '<percentage>';
	}

	@keyframes fade-in {
		to {
			--alpha: 90%;
		}
	}

	.panel {
		--image-vignette: radial-gradient(
			ellipse in oklch,
			color-mix(in oklch, var(--black-desaturated) 10%, transparent) 50%,
			var(--black-desaturated) 90%
		);
		--image: url('https://images.unsplash.com/photo-1587893143314-972249555d65?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8ZnJlbmNoJTIwYnVsbGRvZ3xlbnwwfHwwfHx8MA%3D%3D');
		--part1-size: 3rem;
		--part2-size: 4rem;

		scroll-timeline: --panel y;
		animation: fade-in linear both;
		animation-range: entry 90% contain 50%;
		animation-timeline: view();
		background: var(--vignette-gradient), var(--purple);
		margin-inline: auto;
		max-width: 1600px;
		min-height: 700px;
		padding: 0;

		@media (min-width: 1000px) {
			background: linear-gradient(
					to right in oklch,
					color-mix(
							in oklch,
							var(--black-desaturated) var(--alpha),
							transparent
						)
						350px,
					color-mix(
							in oklch,
							var(--black-desaturated) var(--alpha),
							transparent
						)
						350px
				),
				var(--image-vignette), var(--image);
			background-attachment: fixed;
			background-blend-mode: normal, mulitply, normal;
			background-position-x: center, center, center 225px;
			background-position-y: center;
			background-repeat: no-repeat;
			background-size: cover;
			display: flex;
			gap: 2rem;
			justify-content: start;
		}

		& .panel-info {
			color: var(--text);
			display: grid;
			grid-area: info;
			margin-inline: auto;
			padding: 3rem 2rem;
			place-content: center;
			text-align: center;
			width: 100vw;

			@media (min-width: 1000px) {
				backdrop-filter: blur(6px);
				background: color-mix(
					in oklch,
					var(--black-desaturated) 80%,
					transparent
				);
				height: max(100dvh, 700px);
				margin-inline: initial;
				position: sticky;
				text-align: left;
				top: 0;
				left: 0;
				width: 450px;
			}
		}

		@media (prefers-reduced-motion: no-preference) {
			& :is(h2, .content, button, p) {
				animation: ease-out reveal both;
				animation-timeline: view();
				animation-range: entry 25% contain 20%;
			}
		}

		& h2 {
			color: var(--white);
			font-family: jwf, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
				Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
				sans-serif;
			font-size: var(--part2-size);
			font-weight: 900;
			letter-spacing: -0.025em;
			line-height: 0.9;
			margin-block: 0;
			text-transform: uppercase;

			& span {
				display: block;
				font-size: var(--part1-size);
			}

			@media (max-width: 330px) {
				font-size: calc(0.75 * var(--part2-size));

				& span {
					font-size: calc(0.75 * var(--part1-size));
				}
			}

			@media (min-width: 1000px) {
				font-size: var(--part2-size);

				& span {
					font-size: var(--part1-size);
				}
			}
		}

		&.live-events h2 {
			line-height: 0.8;
		}

		&.educational-video {
			background-position-x: right;
		}

		& p {
			margin-block: 0.75rem;

			&:has(a:only-child) {
				margin-top: 2rem;
				text-align: center;
			}

			& a:not(.button) {
				color: var(--white);
			}
		}

		& .button {
			display: inline-block;
			font-size: clamp(1rem, 9cqw, 1.25rem);
			margin: 0 auto;

			&.hide {
				display: none;
			}
		}
	}

	.main-content {
		border-radius: 0.25rem;
		color: var(--text);
		margin-inline: auto;
		padding: 2rem;
		max-width: 550px;

		@media (min-width: 1000px) {
			background: color-mix(in oklch, var(--white) 70%, transparent);
			color: var(--black-desaturated);
			margin: 90dvh 2rem 30dvh 0;
		}

		@media (min-width: 1200px) {
			margin-inline-end: auto;
		}

		& lite-youtube {
			max-width: 550px;
		}

		& :global(img) {
			display: block;
			height: auto;
			width: 100%;
		}

		& :global(h3) {
			font-size: 1.75rem;
		}

		& p:has(a:only-child) {
			font-size: 0.875rem;
			margin-block-start: 0.5rem;
			text-align: right;
		}
		& p a:only-child {
			color: var(--blue);
		}
	}

	@keyframes slide-in {
		to {
			opacity: 1;
			translate: 0;
		}
	}
</style>
